#survey {
    font-size: 35pt;
}

#about, #name {
    margin-bottom: 20px;
}

#question-title {
    margin-bottom: 10px;
}

.field {
    padding-bottom: 30px;
}

#question {
    font-weight: 700;
    padding-bottom: 5px;
}